%h2= @user.email

= render partial: "followings/button", locals: { following: @following, target_user: @user }

%br
%br

= paginate @user_tweets
= render partial: "tweets/list", locals: { tweets: @user_tweets }
= paginate @user_tweets
